# Vivobook: re-apply power profile + EC fans on AC plug/unplug
ACTION=="change", SUBSYSTEM=="power_supply", ENV{POWER_SUPPLY_TYPE}=="Mains", TAG+="systemd", ENV{SYSTEMD_WANTS}+="omarchy-vivobook-powerprofiles-autodetect.service"
